############################################################
# 项目名 : 
# 模块名 : 
# 备  注 : 
############################################################

###### 子目录配置区
DIROBJS		=

###### 加载mktpl模板库
include $(MKTPLDIR)/makedir_$(MKTPLOS).inc
